<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action = "submitgood.html">
    <textarea type="text" name="name" value="goodsName">name</textarea>
    <textarea type="text" name="category" value="categoryName">category</textarea>
    <textarea type="number" name="id" value="id">id</textarea>
    <textarea type="number" name="price" value="price">price</textarea>
    <textarea type="number" name="quantity" value="quantity">quantity</textarea>
    <textarea type="text" name="tags" value="tags">tags</textarea>

    <input type="submit" name="submitBtn" value="submitValue" />
</form>

</body>
</html>